.vscode/

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
newrelic_agent.log
.idea/
.devcontainer/

# local env files
.env
.env.local

# typescript
*.tsbuildinfo
